{% extends 'layout.html' %}

{% block body %}
  <div class="pcoded-main-container">
      <div class = "pcoded-content">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h1>About</h1>
                </div>
                <div class="card-body">
                    <p align="justify">This app was created for ... 
                    </p>
                    <p align="justify">
                      Scripts are available at <a href="https://github.com/plissonf/ML-guided-discovery-and-design-of-non-hemolytic-peptides" class="card-link" style="color:#FF0000">github</a>.
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
{% endblock %}
